body {
}
/* navbar */
.container {
    border: 1px solid #000000;
    display: flex;
    justify-content: flex-end;
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: #ffeead;
    border: 2px solid;
    background-color: green;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: auto;
}

.main {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 100px;
    padding: 100px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
/* kiri */
.kiri {
    display: flex;
    flex: shrink;

    align-content: center;
    justify-content: center;
}
.form-input {
    flex: 1;
    align-items: flex-start;
    margin-bottom: 10px;
}
.form-label {
    flex: 2;
}
.form-ttk2 {
    flex: 3;
}
.form-isi {
    flex: 1;
}
.form-radio {
    display: inline;
    flex: 1;
    height: 15.2px;
}
.input-form {
    flex: 1;
    border-radius: 5px;
    border-color: #d3d3d3;
}
textarea {
    flex: 1;
    height: 100px;
}
.submit {
    flex: 1;
}
::placeholder {
    color: #d3d3d3;
}

/* kanan */
.kanan {
    display: flex;

    align-content: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    margin: auto;
}
th {
    background-color: #d3d3d3;
    font-weight: bold;
}
th,
td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
    font-size: 10px;
    height: 40px;
}
img {
    width: 15px;
    height: 15px;
}

footer > p {
    text-align: end;
}
